@media only screen and (max-width : 1340px) {
   .header_subtitle{
      max-width: 550px;
   }
  
 }

@media only screen and (max-width : 1320px) {
   .сalculator_men,.сalculator_women{
      width: 25%;
   }

   .item-rost {
      left: 29.35%;
   }

   .item-ves {
      right: 29.35%;
   }
}

@media only screen and (max-width : 1280px) {
   .header_subtitle{
      max-width: 450px;
   }

   .elipse_shadow{
      left: 25%;
   }

   .weekday-slider{
      margin: 0 80px 0 80px;
   }
}

@media only screen and (max-width : 1220px) {
   .nav_list{
      margin-right: 70px;
   }

   .nav_link{
      margin-right: 18px;
   }

   .header_descr{
      margin: 0 auto;
   }

   .pz_img-2{
      top: 164px;
      left: 800px;
   }

   .pz_img-3{
      top: 154px;
      left: 885px;
   }

   .pz_img-7{
      top: 685px;
      left: 800px;
   }

   .pz_img-8{
      top: 660px;
      left: 900px;
   }

   .pz_img-5,
   .pz_img-9{
      display: none;
   }

   .menu_bg4,.menu_bg5{
      display: none;
   }

   #ves, #rost{
      padding-left: 110px;
      width: 170px;
   }

   .item-ros,.item-ves{
      width: 170px;
   }
   

}

@media only screen and (max-width : 1150px) {
   .weekday-slider{
      margin: 0 80px 0 80px;
   }
}

@media only screen and (max-width : 1130px) {
   .weekday-slider{
      margin: 0 80px 0 110px;
   }
}

@media only screen and (max-width : 1084px) {
   .fx-container{
      height: 900px;
   }
   .title_descr_foods, .subtitle_descr_foods{
      margin-right: 15px;
   }

   .pm_bg {
      margin: 35px 0 0 0;
   }

   .pm_left-title{
      text-align: center;
   }

}

@media only screen and (max-width : 1050px) {
   .pz_img-7,
   .pz_img-8{
      display: none;
   }

   .nav_list{
      margin-right: 35px;
   }

   .nav_link{
      margin-right: 10px;
   }

   .header_tel{
      margin-right: 25px;
   }

   .header_btn {
      margin-right: 10px;
   }

   .сalculator_circle{
      width: 70%;
   }

   .men-bg{
      left: 31.92%;
   }

   .woman-bg{
      right: 31.92%;
   }

   .point-bg1{
      left: 26.25%;
   }

   .point-bg2{
      left: 38.81%;
   }

   .point-bg3{
      right: 38.81%;
   }

   .point-bg4{
      right: 26.25%;
   }
  
}

@media only screen and (max-width : 1000px) {
   .pz_img-1{
      top: 90px;
   }

   .pz_img-2,
   .pz_img-3 {
      display: none;
   }

   .header_basket{
      position: fixed;
      bottom: 5%;
      right: 5%;
      z-index: 15;
   }

   .advantages_bg-3::after{
      display:  none;
   }
   .advantages_foods-list:nth-child(4){
      margin-top: 60px;
   }

   .menu_bg4, .menu_bg5{
      display: none;
   }

   .swiper-slide-active .menu_item{
      width: 480px;
   }

   .menu_item{
      width: 430px;
      padding-left: 35px;
   }

   .weekday-slider{
      margin: 0 50px 0 90px;
   }

   .point-bg5{
      left: 28%;
   }

   .point-bg8{
      right: 28%;
   }

      
}

@media only screen and (max-width : 940px) {
   .сalculator_slim{
      height: 900px;
   }

   .cl_title1{
      margin-bottom: 190px;
   }

   .cl_title2{
      margin-bottom: 120px;
   }

   .сalculator_circle {
      width: 80%;
      height: 887px;
   }

   .calculator_line{
      bottom: 390px;
      left: 0;
   }

   .gender-item{
      top: 11%;
   }

   .item-rost, .item-ves{
      top: 20%;
   }

   .point-bg1,.point-bg4{
      top: 30.5%;
   }

   .point-bg2,.point-bg3{
      top: 38%;
   }

   .point-bg5,.point-bg6,.point-bg7,.point-bg8{
      bottom: 42.5%;
   }

   .point-bg5{
      left: 20%;
   }

   .point-bg6{
      left: 40%;
   }

   .point-bg7{
      right: 40%;
   }

   .point-bg8{
      right: 20%;
   }

   .calc-btn{
      bottom: 140px;
   }

   .сalculator_men, .сalculator_women {
      width: 26%;
    }
  

   
}

@media only screen and (max-width : 880px) {
   .navigation{
      padding: 17px 30px 0 30px;
      justify-content: space-between;
   }

   .navbar{
      display: block;
   }

   .nav{
      display: block;
      z-index: 100;
      position: fixed;
      text-align: center;
      padding-top: 50px;
      background: #fff;
      width: 100%;
      height: 100%;
      top: 0;left: 0;bottom: 0;
      transform: translateX(-100%);
      transition: ease-in-out .5s;
   }

   .nav_list{
      display: block;
      margin: 0 0 30px 0;
   }

   .nav-avtive{
      transform: translateX(0);
   }

   .nav_link{
      margin: 0 0 15px 0;
      font-size: 25px;
      transition: ease-in-out .5s;
   }
   

   .nav_link:hover a{
      color: #01605A;
      border-bottom: 3px Solid #01605A;
   }

   .header_tel, .header_btn{
      margin: 0 0 30px 0;
  }

   .nav-krest{
      position: absolute;
      top: 25px;
      right: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background-color: #01605a;
      border-radius: 50%;
   }

   .menu_bg1,.menu_bg9{
      display: none;
   }

   .menu_bg7{
      bottom: 150px;
   }

   .slider_images{
      display: none;
   }

   .menu_btn_next {
      left: 45px;
      bottom: -80px;
   }

   .weekday-slider{
      margin: 0 50px 0 110px;
   }

}

@media only screen and (max-width : 850px) {

   .сalculator_circle{
      width: 90%;
      height: 887px;
   }

   .item-rost{
      left: 22%;
   }
  
   .item-ves{
      right: 22%;
   }

   .point-bg1{
      left: 23.25%;
   }

   .point-bg4{
      right: 23.25%;
   }

   .сalculator_men, .сalculator_women {
      width: 30%;
   } 
}

@media only screen and (max-width : 800px) {
   .men-bg {
      left: 29.92%;
   }

   .woman-bg {
      right: 29.92%;
   }

   .calc-btn {
      bottom: 280px;
   }

   .сalculator_men, .сalculator_women {
      width: 31.5%;
   }
}


@media only screen and (max-width : 749px) {
   
   .advantages_title{
      font-size: 40px;
      margin: 70px 0;
   }

   .header-social_link{
      margin: 0 auto;
      padding: 0;
      width: 165px;
   }

   .social_link:first-child{
      margin: 0;
   }

   .advantages_bg-2::after{
      display:  none;
   }

   .advantages_bg-3::after{
      display:  block;
   }

   .advantages_foods-list:nth-child(3){
      margin-top: 60px;
   }

   .pz_img-6{
      display: none;
   }

   .weekday-slider{
      margin: 0 50px 0 120px;
   }

   .сalculator_men, .сalculator_women {
      width: 34%;
    }
}

@media only screen and (max-width : 670px){
   .men-bg {
      left: 25%;
   }

   .woman-bg {
      right: 25%;
   }

   .item-rost {
      left: 18%;
   }

   .item-ves {
      right: 18%;
   }

   .point-bg1 {
      left: 20.25%;
   }

   .point-bg2 {
      left: 36.81%;
   }

   .point-bg3 {
      right: 36.81%;
   }

   .point-bg4 {
      right: 20.25%;
   }

   .point-bg5 {
      left: 15%;
   }

   .point-bg6 {
      left: 37%;
   }

   .point-bg7 {
      right: 37%;
   }

   .point-bg8 {
      right: 15%;
   }

   .сalculator_circle {
      width: 99%;
   }
   .сalculator_men, .сalculator_women {
      width: 37%;
   }
}

@media only screen and (max-width : 650px) {
   .menu_bg7{
      display: none;
   }

   .weekday-slider{
      margin: 0 50px 0 90px;
   }

   .week_menu {
      margin: 75px auto;
      text-align: center;
   }
   
   .basket_btn {
      width: 360px;
      height: 80px;
      font-size: 28px;
   }

}

@media only screen and (max-width : 600px) {
   .header_title{
      margin-top: 25px;
      font-size: 65px;
   }

   .header_subtitle{
      font-size: 30px;
   }

   .btn_prog{
      width: 350px;
      height: 70px;
      padding: 15px 0;
      font-size: 23px;
   }

   .pm_bg{
      width: 540px;
   }

   .day_menu-list{
      display: block;
      background: #fff;
   }

   .mune_list_item:nth-child(4){
      margin-top: 10px;
   }
   .number_of{
      margin-bottom: 35px;
   }

   .number_of::after{
      top: 135px;
      width: 480px;
   }

   .weekday-slider{
      margin: 0 50px 0 85px;
   }   

}

@media only screen and (max-width : 550px) {
   .pm_bg{
      width: 490px;
   }

   .number_of::after{
      width: 450px;
   }

   .cl_title1 {
      margin-bottom: 171px;
   }

   .cl_title2 {
      margin-bottom: 120px;
   }

   .gender-item {
      top: 9%;
   }

   .men-bg {
      left: 23%;
   }

   .woman-bg {
      right: 23%;
   }

   .item-rost, .item-ves {
      top: 17%;
   }

   .item-rost {
      left: 15%;
   }

   .item-ves {
      right: 15%;
   }

   .calc-btn{
      bottom: 305px;
      width: 268px;
      height: 51px;
      font-size: 22px;
   }

   .сalculator_men, .сalculator_women {
      width: 40%;
   }
}

@media only screen and (max-width : 525px) {
   .point-bg5 {
      left: 12%;
   }

   .point-bg6 {
      left: 37%;
   }

   .point-bg7 {
      right: 37%;
   }

   .point-bg8 {
      right: 12%;
   }
}

@media only screen and (max-width : 499px) {
   .pz_img-1,
   .pz_img-4{
      display: none;
   }


   .header_title{
      font-size: 60px;
   }

   .header_subtitle{
      font-size: 30px;
   }

   .menu_title{
      font-style: 30px;
   }

   .swiper-slide-active .menu_item{
      width: 430px;
   }

   

   .menu_item{
      width: 400px;
      padding-left: 35px;
   }

   .menu_bg6{
      display: none;
   }
   
   .pm_bg{
      width: 450px;
   }

   .pm_right_title, .pm_right_title2{
      font-size: 25px;
   }

   .number_of::after{
      width: 400px;
   }

   .advantages_title{
      font-size: 30px;
      margin: 70px 0;
   }
   .advantages_bg-1::after,
   .advantages_bg-2::after,
   .advantages_bg-3::after{
      display:  none;
   }

   .advantages_foods-list:nth-child(1),
   .advantages_foods-list:nth-child(2){
      margin-top: 60px;
   }

   .weekday-slider{
      margin: 0 30px 0 60px;
   }
   
   .cl_title1 {
      margin-top: 15px;
      margin-bottom: 205px;
   }

   .gender-item {
      top: 8%;
   }

   .men-bg {
      left: 15%;
   }

   .woman-bg {
      right: 15%;
   }

   .item-rost {
      top: 15%;
      left: 50%;
      width: 175px;
      transform: translateX(-50%);
   }

   .item-ves {
      top: 22%;
      right: 50%;
      width: 175px;
      transform: translateX(50%);
   }
}

@media only screen and (max-width : 485px) {
   .сalculator_slim {
      height: 1000px;
   }
   .сalculator_circle{
      top: 300px;
      width: 57.73%;
      height: 100px;
   }

   .gender-item {
      top: 7%;
   }

   .item-rost {
      top: 14%
   }

   .item-ves{
      top: 20%
   }

   .calculator_title{
      font-size: 30px;
   }

   .cl_title1 {
      margin-bottom: 275px;
   }

   .cl_title2 {
      margin-bottom: 135px;
   }

   .point-bg1, .point-bg4 {
      top: 31.2%;
   }
   
   .point-bg1,.point-bg2 {
      left: 25.25%;
   }

   .point-bg4,.point-bg3{
      right: 25.25%;
   }

   .text-calc_pz1, .text-calc_pz4 {
      top: -25px;
   }

   .point-bg2, .point-bg3 {
      top: 37%;
   }

   .point-bg5,.point-bg6 {
      left: 25.25%;
   }

   .point-bg7,.point-bg8{
      right: 25.25%;
   }

   .point-bg5,.point-bg7{
      bottom: 49.5%;
   }

   .point-bg6,.point-bg8{
      bottom: 43.8%;
   }

   .cel-fitness li span, .cel-people li span {
      width: 191px;
   }

   .text-calc_pz1{
      left: -70px;
   }

   .text-calc_pz2 {
      left: -85px;
   }

   .text-calc_pz4{
      left: -15px;
   }

   .text-calc_pz5{
      left: -70px;
   }

   .text-calc_pz6 {
      bottom: -25px;
      left: -50px;
   }

   .text-calc_pz7 {
      left: -15px;
   }

   .text-calc_pz8 {
      bottom: -25px;
      left: -15px;
   }

   .calculator_line{
      bottom: 425px;
      left: 50%;
      transform: translateX(-50%);
      width: 57.73%;
      height: 100px;
      background: none;
      border: 2px Solid #fff;
      border-radius: 50%;
   }

   .calc-btn {
      bottom: 310px;
   }

   .сalculator_men, .сalculator_women {
      width: 42%;
   }

}

@media only screen and (max-width : 456px) {
   .fx-container {
      height: 930px;
   }

   .pm_bg{
      width: 420px;
      height: 580px;
   }
   .pm_menu_number{
      flex-wrap: wrap;
   }

   .menu_number-item:last-child{
      margin-top: 10px;
   }

   .pm_right_title2{
      margin-top: 30px;
   }

   .pm_subtitle{
      max-width: 400px;
      margin: 0 auto;
      margin-bottom: 10px;
   }

   .weekday-slider{
      margin: 0 30px 0 50px;
   }

   
}

@media only screen and (max-width : 435px) {
   .swiper-slide-active .menu_item{
      width: 410px;
   }

   .menu_item{
      width: 380px;
      padding-left: 15px;
   }

   .cel-fitness li span, .cel-people li span {
     max-width: 135px;
   }

   .сalculator_men, .сalculator_women {
      width: 46%;
   }

   .сalculator_men, .сalculator_women {
      width: 47%;
   }


}

@media only screen and (max-width : 415px) {
   .swiper-slide-active .menu_item{
      width: 370px;
   }

   .menu_item{
      width: 350px;
      padding-left: 10px;
   }

   .subtitle-menu {
      max-width: 325px;
   }

   .pm_left-title{
      margin-top: 100px;
      font-size: 30px
   }

   .pm_bg{
      width: 350px;
      height: 610px;
   }

   .menu_itog{
      font-size: 25px;
   }

   .week-slider-menu {
      margin: 0 85px;
   }

   .weekday-slider{
      margin: 0 30px 0 30px;
   }

   .basket_btn {
      width: 300px;
      font-size: 24px;
   } 

   .calculator_title {
      font-size: 25px;
   }

   .сalculator_men, .сalculator_women {
      width: 50%;
   }  
}

@media only screen and (max-width : 392px){
   .week-slider-menu {
      margin: 0 75px;
   }
}

@media only screen and (max-width : 375px){
   .week-slider-menu {
      margin: 0 65px;
   }
   
   .weekday-slider{
      margin: 0 17px 0 17px;
   }
   .men-bg {
      left: 10%;
   }

   .woman-bg {
      right: 10%;
   }

   .text-calc_pz1, .text-calc_pz4 {
      top: -30px;
   }

   .text-calc_pz1 {
      left: -60px;
   }

   .text-calc_pz2 {
      left: -70px;
      top: 30px;
   }

   .text-calc_pz3 {
      position: absolute;
      top: 30px;
      left: -30px;
   }

   .text-calc_pz4 {
      left: -30px;
   }

   .text-calc_pz5 {
      left: -55px;
      bottom: 30px;
   }

   .text-calc_pz6 {
      bottom: -30px;
      left: -35px;
   }

   .text-calc_pz7 {
      left: -30px;
      bottom: 30px;
   }

   .text-calc_pz8 {
      bottom: -30px;
      left: -30px;
   }   

   .сalculator_men, .сalculator_women {
      width: 53%;
   }  
}



