/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

@media only screen and (max-width : 1340px) {
   .header_subtitle{
      max-width: 550px;
   }

   .bg_company_img6 {
      top: -35%;
      right: 5%;
   }

   .bg_company_img7 {
      display: none;
   }
}

@media only screen and (max-width : 1320px) {
   .сalculator_men,.сalculator_women{
      width: 25%;
   }

   .item-rost {
      left: 29.35%;
   }

   .item-ves {
      right: 29.35%;
   }
}

@media only screen and (max-width : 1280px) {
   .header_btn {
      margin-right: 15px;
   }

   .header_subtitle{
      max-width: 450px;
   }

   .elipse_shadow{
      left: 25%;
   }
}

@media only screen and (max-width : 1220px) {
   .nav_list{
      margin-right: 60px;
   }
  
   .nav_link{
      margin-right: 18px;
   }

   .header_descr{
      margin: 0 auto;
   }

   .pz_img-2{
      top: 164px;
      left: 800px;
   }

   .pz_img-3{
      top: 154px;
      left: 885px;
   }

   .pz_img-7{
      top: 685px;
      left: 800px;
   }

   .pz_img-8{
      top: 660px;
      left: 900px;
   }

   .pz_img-5,
   .pz_img-9{
      display: none;
   }

   .menu_bg4,.menu_bg5{
      display: none;
   }

   #ves, #rost{
      padding-left: 110px;
      width: 170px;
   }

   .item-ros,.item-ves{
      width: 170px;
   }

   .bg_company_img8 {
      bottom: -15%;
      left: -3%;
   }
   
   .footer_food_bg7{
      right: 0;
   }

}

@media only screen and (max-width : 1200px) {
   .weekday-slider {
      margin: 0 80px 0 150px;
   }
}

@media only screen and (max-width : 1095px) {
   .fx-menu {
      height: 900px;
   }

   .weekday-slider {
      margin: 0 80px 0 130px;
   }
}

@media only screen and (max-width : 1084px) {
   .logo {
      margin-right: 10px;
   }
  
   .title_descr_foods, .subtitle_descr_foods{
      margin-right: 15px;
   }

   .pm_bg {
      margin: 35px 0 0 0;
   }

   .pm_left-title{
      text-align: center;
   }
}

@media only screen and (max-width : 1070px){
   .nav_list{
      margin-right: 23px;
   }
}

@media only screen and (max-width : 1050px) {
   .pz_img-7,
   .pz_img-8{
      display: none;
   }

   .nav_link{
      margin-right: 10px;
   }

   .header_tel{
      margin-right: 25px;
   }

   .header_btn {
      margin-right: 10px;
   }

   .сalculator_circle{
      width: 70%;
   }

   .men-bg{
      left: 31.92%;
   }

   .woman-bg{
      right: 31.92%;
   }

   .point-bg1{
      left: 26.25%;
   }

   .point-bg2{
      left: 38.81%;
   }

   .point-bg3{
      right: 38.81%;
   }

   .point-bg4{
      right: 26.25%;
   }

   .company_descr_text{
      font-size: 24px;
   }

   .bg_company_img8 {
      bottom: -20%;
      left: -3%;
  }
  
  .footer_container {
      padding-bottom: 100px;
      margin-top: 700px
   }
  
  .footer_form{
      top: -165%;
      right: 50%;
      -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
              transform: translateX(50%);
      -webkit-box-shadow: 0 0 5px 1px #FF8823;
              box-shadow: 0 0 5px 1px #FF8823;
  }

  .number1 {
      margin-right: 60px;
  }
}

@media only screen and (max-width : 1010px) {
   .advantages_bg-3::after{
      display:  none;
   }

   .advantages_foods-list:nth-child(4){
      margin-top: 60px;
   }
}

@media only screen and (max-width : 1009px) {
   .payment-col ul{
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
   }

   .pay-btn:last-child{
      margin-top: 25px;
   }
}

@media only screen and (max-width : 1000px) {
   .pz_img-1{
      top: 90px;
   }

   .pz_img-2,
   .pz_img-3 {
      display: none;
   }

   .header_basket{
      position: fixed;
      bottom: 5%;
      right: 5%;
      z-index: 15;
   }

   .header_basket-none{
      display: none;
   }

   .menu_bg4, .menu_bg5{
      display: none;
   }

   .swiper-slide-active .menu_item{
      width: 480px;
   }

   .menu_item{
      width: 430px;
      padding-left: 35px;
   }

   .point-bg5{
      left: 28%;
   }

   .point-bg8{
      right: 28%;
   }

   .see-people {
      margin-bottom: 300px;
   } 
}

@media only screen and (max-width : 990px){
   .bascet-root{
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
   }
   
   .pr-bascet{
     text-align: center;
   }

   .pr-title,.pr-subtitle{
      display: inline-block;
      margin: 0 0 26px 0;
   }

   .title2 {
      margin-top: 70px;
   }

   .pr-image::after{
      left: 204px;
   }

   .pr-col{
      margin: 80px 0 0 0;
   }

   .number1 {
      margin-right: 120px;
   }
}

@media only screen and (max-width : 954px){
   .delivery-base,.delivery-accout{
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
   }
   .swiper_revies_item {
      max-width: 600px;
   }
   
   .sw-button-prev {
      left: 35%;
   }

   .sw-button-next {
      right: 35%;
   }
}

@media only screen and (max-width : 940px) {
   .сalculator_slim{
      height: 900px;
   }

   .cl_title1{
      margin-bottom: 190px;
   }

   .cl_title2{
      margin-bottom: 120px;
   }

   .сalculator_circle {
      width: 80%;
      height: 887px;
   }

   .calculator_line{
      bottom: 390px;
      left: 0;
   }

   .gender-item{
      top: 11%;
   }

   .item-rost, .item-ves{
      top: 20%;
   }

   .point-bg1,.point-bg4{
      top: 30.5%;
   }

   .point-bg2,.point-bg3{
      top: 38%;
   }

   .point-bg5,.point-bg6,.point-bg7,.point-bg8{
      bottom: 42.5%;
   }

   .point-bg5{
      left: 20%;
   }

   .point-bg6{
      left: 40%;
   }

   .point-bg7{
      right: 40%;
   }

   .point-bg8{
      right: 20%;
   }

   .oreder-btn{
      bottom: 140px;
   }

   .сalculator_men, .сalculator_women {
      width: 26%;
   }

   .company_descr{
      height: auto;
   }
   
   .company_descr_text {
      font-size: 22px;
   }

   .customer_reviews_descr {
      max-width: 880px;
      padding: 0 10px;
   }
}

@media only screen and (max-width : 890px) {
   .navigation{
      padding: 17px 30px 0 30px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
   }

   .navbar{
      display: block;
   }

   .nav{
      display: block;
      z-index: 100;
      position: fixed;
      text-align: center;
      padding-top: 100px;
      background: #fff;
      width: 100%;
      height: 100%;
      top: 0;left: 0;bottom: 0;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      -webkit-transition: ease-in-out .5s;
      -o-transition: ease-in-out .5s;
      transition: ease-in-out .5s;
   }

   .nav_list{
      display: block;
      margin: 0 0 70px 0;
   }

   .nav-avtive{
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
   }

   .nav_link{
      margin: 0 0 20px 0;
      font-size: 25px;
      -webkit-transition: ease-in-out .5s;
      -o-transition: ease-in-out .5s;
      transition: ease-in-out .5s;
   }
   

   .nav_link:hover a{
      color: #01605A;
      border-bottom: 3px Solid #01605A;
   }

   .header_tel, .header_btn{
      margin: 0 0 30px 0;
   }

   .nav-krest{
      position: absolute;
      top: 25px;
      right: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 50px;
      height: 50px;
      background-color: #01605a;
      border-radius: 50%;
   }

   .menu_bg1,.menu_bg9{
      display: none;
   }

   .menu_bg7{
      bottom: 150px;
   }

   .slider_images{
      display: none;
   }

   .menu_btn_next {
      left: 45px;
      bottom: -80px;
   }
}

@media only screen and (max-width : 850px) {

   .сalculator_circle{
      width: 90%;
      height: 887px;
   }

   .item-rost{
      left: 22%;
   }
  
   .item-ves{
      right: 22%;
   }

   .point-bg1{
      left: 23.25%;
   }

   .point-bg4{
      right: 23.25%;
   }

   .сalculator_men, .сalculator_women {
      width: 30%;
   } 

   .company_descr_text:nth-child(1), .company_descr_text:nth-child(2) {
      padding-bottom: 20px;
   }

   .footer_form{
      height: 480px;
   }

   .order_food_title{
      font-size: 26px;
   }

   .order_food_descr{
      display: inline-block;
      padding: 0 15px;
      font-size: 15px;
   }

   .footer_food_bg2{
      display: none;
   }
}

@media only screen and (max-width : 800px) {
   .men-bg {
      left: 29.92%;
   }

   .woman-bg {
      right: 29.92%;
   }

   .oreder-btn{
      bottom: 280px;
   }

   .сalculator_men, .сalculator_women {
      width: 31.5%;
   }

   .company_descr_text {
      font-size: 18px;
   }

   .btn-up{
      display: block;
   }
}

@media only screen and (max-width : 759px) {
   .advantages_bg-2::after{
      display:  none;
   }

   .advantages_foods-list:nth-child(3){
      margin-top: 60px;
   }
   
   .advantages_bg-1::after,
   .advantages_bg-3::after{
      display:  block;
      width: 170px;
      right: -170px;
   }

   .footer_int_name, .footer_int_tel{
      width: 330px;
   }

   .footer_btn{
      width: 290px;
   }
}

@media only screen and (max-width : 749px) {
    .advantages_title{
      font-size: 40px;
      margin: 70px 0;
   }

   .header-social_link{
      margin: 0 auto;
      padding: 0;
      width: 165px;
   }

   .social_link:first-child{
      margin: 0;
   }

   .pz_img-6{
      display: none;
   }

   .сalculator_men, .сalculator_women {
      width: 34%;
   }

   .bg_company_img11 {
      display: none;
   }

   .footer_food_bg3{
      display: none;
   }
}

@media only screen and (max-width : 715px) {
   .swiper_revies_item{
      max-width: 278px;
   }

   .sw-button-prev {
      left: 15%;
   }

   .sw-button-next {
      right: 15%;
   }

   .modal_wd1{
      width: 570px;
   }
}

@media only screen and (max-width : 670px){
   .men-bg {
      left: 25%;
   }

   .woman-bg {
      right: 25%;
   }

   .item-rost {
      left: 18%;
   }

   .item-ves {
      right: 18%;
   }

   .point-bg1 {
      left: 20.25%;
   }

   .point-bg2 {
      left: 36.81%;
   }

   .point-bg3 {
      right: 36.81%;
   }

   .point-bg4 {
      right: 20.25%;
   }

   .point-bg5 {
      left: 15%;
   }

   .point-bg6 {
      left: 37%;
   }

   .point-bg7 {
      right: 37%;
   }

   .point-bg8 {
      right: 15%;
   }

   .сalculator_circle {
      width: 99%;
   }
   .сalculator_men, .сalculator_women {
      width: 37%;
   }
}

@media only screen and (max-width : 659px) {
   .pay-btn:nth-child(2){
      margin-top: 25px;
   }
}

@media only screen and (max-width : 650px) {
   .menu_bg7{
      display: none;
   }

   .weekday-slider {
      margin: 0 80px 0 120px;
   }

   .week_menu {
      margin: 75px auto;
      text-align: center;
   }
   
   .basket_btn {
      width: 360px;
      height: 80px;
      font-size: 28px;
   }

   .company_descr_text {
      font-size: 15px;
   }

   .company_descr_text:nth-child(1), .company_descr_text:nth-child(2) {
      padding-bottom: 15px;
   }

   .footer_food_bg5{
      display: none;
   }

}

@media only screen and (max-width : 600px) {
   .header_title{
      margin-top: 25px;
      font-size: 65px;
   }

   .header_subtitle{
      font-size: 30px;
   }

   .btn_prog{
      width: 350px;
      height: 70px;
      padding: 15px 0;
      font-size: 23px;
   }

   .pm_bg{
      width: 540px;
   }

   .day_menu-list{
      display: block;
      background: #fff;
   }

   .mune_list_item:nth-child(4){
      margin-top: 10px;
   }
   .number_of{
      margin-bottom: 35px;
   }

   .number_of::after{
      top: 135px;
      width: 480px;
   }

   .weekday-slider {
      margin: 0 80px 0 90px;
   }
   
   .footer_contact_descr:nth-child(1) {
      margin-right: 130px;
   }

   .number1 {
      margin-right: 60px;
   }

   .modal_wd1{
      width: 480px;
   }

   .modal_title{
      max-width: 345px;
      font-size: 20px;
   }

   .modal_wd2 {
      width: 430px;
      height: 453px;
   }
}

@media only screen and (max-width : 550px) {
   .pm_bg{
      width: 490px;
   }

   .number_of::after{
      width: 450px;
   }

   .cl_title1 {
      margin-bottom: 171px;
   }

   .cl_title2 {
      margin-bottom: 120px;
   }

   .gender-item {
      top: 9%;
   }

   .men-bg {
      left: 23%;
   }

   .woman-bg {
      right: 23%;
   }

   .item-rost, .item-ves {
      top: 17%;
   }

   .item-rost {
      left: 15%;
   }

   .item-ves {
      right: 15%;
   }

   .oreder-btn{
      bottom: 308px;
   }

   .calc-btn{
      width: 268px;
      height: 51px;
      font-size: 22px;
   }

   .сalculator_men, .сalculator_women {
      width: 38%;
   }

   .bg_company_img6 {
      top: -26%;
      width: 30%;
   }

   .bg_company_img9,.bg_company_img10 {
      display: none;
   }

   .customer_reviews_title{
      font-size: 40px;
   }

   .footer_food_bg4{
      top: -220px;
   }

   .number1 {
      margin-right: 30px;
   }
}

@media only screen and (max-width : 525px) {
   .point-bg5 {
      left: 12%;
   }

   .point-bg6 {
      left: 37%;
   }

   .point-bg7 {
      right: 37%;
   }

   .point-bg8 {
      right: 12%;
   }

   .bg_company_img12 {
      display: none;
   }

   .company_descr {
      padding: 34px;
   }

   .order_food_title{
      font-size: 25px;
   }

   .order_food_descr{
      font-size: 15px;
   }
}

@media only screen and (max-width : 509px){
   .advantages_title{
      font-size: 30px;
      margin: 90px 0 10px 0;
   }
   .advantages_bg-1::after,
   .advantages_bg-2::after,
   .advantages_bg-3::after{
      display:  none;
   }

   .advantages_foods-list:nth-child(1),
   .advantages_foods-list:nth-child(2){
      margin-top: 60px;
   }

   .text1{
      margin: 0 15px 0 10px;
   }  

}

@media only screen and (max-width : 499px) {
   .pz_img-1{
      top: 190px;
      z-index: -1;
   }

   .pz_img-4{
      left: 35%;
   }

   .header_title{
      font-size: 60px;
   }

   .header_subtitle{
      font-size: 30px;
      font-weight: 900;
   }

   .menu_title{
      font-style: 30px;
   }

   .swiper-slide-active .menu_item{
      width: 430px;
   }

   .menu_item{
      width: 400px;
      padding-left: 35px;
   }

   .menu_bg6{
      display: none;
   }

   .weekday-slider {
      margin: 0 70px 0 80px;
   }
   
   .pm_bg{
      width: 450px;
   }

   .pm_right_title, .pm_right_title2{
      font-size: 25px;
   }

   .number_of::after{
      width: 400px;
   }
   
   .cl_title1 {
      margin-top: 15px;
      margin-bottom: 205px;
   }

   .gender-item {
      top: 8%;
   }

   .men-bg {
      left: 15%;
   }

   .woman-bg {
      right: 15%;
   }

   .item-rost {
      top: 15%;
      left: 50%;
      width: 175px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
   }

   .item-ves {
      top: 22%;
      right: 50%;
      width: 175px;
      -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
              transform: translateX(50%);
   }
   
   .bg_company_img6 {
      top: -18%;
   }
   .footer_food_bg4 {
      right: -51px;
      top: -195px;
  }

   .modal_wd1{
      width: 355px;
   }

   .modal_title{
      margin: 100px 0 45px 0;
   }
}

@media only screen and (max-width : 485px) {
   .weekday-slider {
      margin: 0 50px 0 80px;
   }

   .сalculator_slim {
      height: 1000px;
   }

   .сalculator_circle{
      top: 300px;
      width: 57.73%;
      height: 100px;
   }

   .gender-item {
      top: 7%;
   }

   .item-rost {
      top: 14%
   }

   .item-ves{
      top: 20%
   }

   .calculator_title{
      font-size: 30px;
   }

   .cl_title1 {
      margin-bottom: 275px;
   }

   .cl_title2 {
      margin-bottom: 135px;
   }

   .point-bg1, .point-bg4 {
      top: 31.2%;
   }
   
   .point-bg1,.point-bg2 {
      left: 25.25%;
   }

   .point-bg4,.point-bg3{
      right: 25.25%;
   }

   .text-calc_pz1, .text-calc_pz4 {
      top: -25px;
   }

   .point-bg2, .point-bg3 {
      top: 37%;
   }

   .point-bg5,.point-bg6 {
      left: 25.25%;
   }

   .point-bg7,.point-bg8{
      right: 25.25%;
   }

   .point-bg5,.point-bg7{
      bottom: 49.5%;
   }

   .point-bg6,.point-bg8{
      bottom: 43.8%;
   }

   .cel-fitness li span, .cel-people li span {
      width: 191px;
   }

   .text-calc_pz1{
      left: -70px;
   }

   .text-calc_pz2 {
      left: -85px;
   }

   .text-calc_pz4{
      left: -15px;
   }

   .text-calc_pz5{
      left: -70px;
   }

   .text-calc_pz6 {
      bottom: -25px;
      left: -50px;
   }

   .text-calc_pz7 {
      left: -15px;
   }

   .text-calc_pz8 {
      bottom: -25px;
      left: -15px;
   }

   .calculator_line{
      bottom: 425px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 57.73%;
      height: 100px;
      background: none;
      border: 2px Solid #fff;
      border-radius: 50%;
   }

   .oreder-btn {
      bottom: 310px;
   }

   .сalculator_men, .сalculator_women {
      width: 42%;
   }

   .footer_food_bg4{
      right: 5px;
   }

   .int-text1{
      width: 440px;
   }

   .modal_wd2 {
      width: 375px;
      height: 453px;
   }
}

@media only screen and (max-width : 465px) {
   .text1{
      max-width: 210px;
      font-size: 20px;
   }

   .footer_container {
      height: 500px;
      padding-bottom: 0;
   }
}

@media only screen and (max-width : 456px) {
   .weekday-slider {
      margin: 0 50px 0 55px;
   }

   .fx-menu {
      height: 930px;
   }

   .pm_bg{
      width: 420px;
      height: 580px;
   }
   .pm_menu_number{
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
   }

   .menu_number-item:last-child{
      margin-top: 10px;
   }
   
   .pm_right_title2{
      margin-top: 30px;
   }

   .pm_subtitle{
      max-width: 400px;
      margin: 0 auto;
      margin-bottom: 10px;
   }

   .int-text1{
      width: 420px;
   }
  
}

@media only screen and (max-width : 444px) {
   .title2{
      font-size: 30px;
   }

   .pr-title{
      font-size: 25px;
   }

   .ruble-1{
      font-size: 28px;
   }

   .ruble-1 svg{
      width: 15px;
      height: 22px;
   }

   .time-delivery{
      margin-bottom: 20px;
   }

   .int-text5{
      width: 400px;
   }

   .pro-code-int{
      padding: 0 140px 0 15px;
   }

   .pro-code-text{
      width: 100px;
   }
}

@media only screen and (max-width : 435px) {
   .swiper-slide-active .menu_item{
      width: 410px;
   }

   .menu_item{
      width: 380px;
      padding-left: 15px;
   }

   .weekday-slider {
      margin: 0 25px 0 25px;
   }

   .cel-fitness li span, .cel-people li span {
     max-width: 135px;
   }

   .сalculator_men, .сalculator_women {
      width: 46%;
   }

   .сalculator_men, .сalculator_women {
      width: 47%;
   }

   .customer_reviews_title{
      font-size: 35px;
   }
   
   .int-text1 {
      width: 400px;
   }

   .number1 {
      margin-right: 18px;
   }

   .modal_wd2 {
      width: 350px;
      height: 450px;
   }

   .modal-calories, .modal-balance {
      font-size: 28px;
   }

   .modal-result, .modal-prog {
      font-size: 20px;
   }
}

@media only screen and (max-width : 416px){
   .oreder-btn {
      bottom: 320px;
   }

   .t-media{
      margin: 75px 0 40px;
   }

   .see-people {
      margin-bottom: 200px;
   }

}

@media only screen and (max-width : 415px) {
   .swiper-slide-active .menu_item{
      width: 370px;
   }

   .menu_item{
      width: 350px;
      padding-left: 10px;
   }

   .subtitle-menu {
      max-width: 325px;
   }

   .fx-menu {
      height: 985px;
   }

   .pm_left-title {
      margin-top: 165px;
      font-size: 30px
   }

   .pm_bg{
      width: 350px;
      height: 610px;
   }

   .menu_itog{
      font-size: 25px;
   }

   .basket_btn {
      width: 300px;
      font-size: 24px;
   } 

   .calculator_title {
      font-size: 25px;
   }

   .сalculator_men, .сalculator_women {
      width: 50%;
   }  

   .footer_contact_descr:nth-child(1) {
      margin-right: 90px;
   }

   #footer_contact{
      padding: 36px 22px;
   }

   .pr-image img {
      max-width: 85%;
      height: auto;
   }

   .pr-image::after {
      left: 140px;
   }

   .text1 {
      max-width: 190px;
      font-size: 18px;
   }

   .int-text1 {
      width: 380px;
   }

   .int-text5 {
      width: 380px;
   }

   .btn-save {
      width: 330px;
      height: 70px;
      font-size: 28px;
   }

   .footer_form{
      max-width: 350px;
   }
}

@media only screen and (max-width : 392px){
   .company_title {
      margin: 85px 0 150px 0;
   }

   .text1 {
      margin: 0 10px 0 8px;
      max-width: 180px;
      font-size: 17px;
   }

   .int-text1 {
      width: 360px;
   }

   .int-text5 {
      width: 360px;
   }

   .modal_wd1{
      width: 320px;
   }

   .modal_btn{
      padding: 20px 41px;
   }

   .modal_wd2 {
      width: 330px;
      height: 450px;
   }
}

@media only screen and (max-width : 375px){
   .weekday-slider {
      margin: 0 10px 0 10px;
   }

   .men-bg {
      left: 10%;
   }

   .woman-bg {
      right: 10%;
   }

   .text-calc_pz1, .text-calc_pz4 {
      top: -30px;
   }

   .text-calc_pz1 {
      left: -60px;
   }

   .text-calc_pz2 {
      left: -70px;
      top: 30px;
   }

   .text-calc_pz3 {
      position: absolute;
      top: 30px;
      left: -30px;
   }

   .text-calc_pz4 {
      left: -30px;
   }

   .text-calc_pz5 {
      left: -55px;
      bottom: 30px;
   }

   .text-calc_pz6 {
      bottom: -30px;
      left: -35px;
   }

   .text-calc_pz7 {
      left: -30px;
      bottom: 30px;
   }

   .text-calc_pz8 {
      bottom: -30px;
      left: -30px;
   }   

   .сalculator_men, .сalculator_women {
      width: 53%;
   }  

   .ruble-1 svg {
      right: -17px;
   }
}

@media only screen and (max-width : 360px){
   .swiper-slide-active .menu_item {
      width: 355px;
   }

   .menu_item {
      width: 335px;
   }

   .title-menu {
      font-size: 28px;
   }

   .weekday-slider {
      margin: 0 5px 0 5px;
   }

   .int-text1 {
      width: 350px;
   }

   .int-text5 {
      width: 350px;
   }

   .pr-image::after {
      left: 115px;
   }
}


