/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

body{
   font-family: 'Oswald', sans-serif;
   color: #fff;
   text-align: center;
}

.container{
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.container_work{
   max-width: 1521px;
   padding: 0 15px;
   margin: 0 auto;
}

/* Header */
.header{
   background-image: url("../image/background.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   max-height: 740px;
}

.header_top{
   margin-bottom: 158px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   transition: 2s;
}

@keyframes fixedMenu{
   0%{
      height: 0;
   }

   50%{
      height: 120px;
   }

   100%{
      height: 100px;
   }
}

.header_fixed{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   justify-content: space-around;
   background-color: #404149;
   z-index: 1000;
   opacity: 0.8;
   animation: fixedMenu 2s forwards;
}

.nav{
   margin-top: 40px;
}

.nav_link{
   margin-left: 0;
   margin-right: 49px;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 21px;
   color: #fff;
   text-transform: uppercase;
   transition: 0.7s;
}

.nav_link:hover{
   opacity: 0.7;
}

.header_contact{
   margin-top: 13px;
   position: relative;
   text-align: center;
}

.contact_link{
   margin: 0;
   padding: 0;
   display: block;
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 21px;
   color: #fff;
   transition: 0.7s;
}

.contact_link:hover{
   opacity: 0.7; 
}

.header_contact_img{
   position: absolute;
   top: 4px;
   left: -6px;
}

.header_middle{
   margin: 0 auto;
   max-width: 734px;
   padding-bottom: 239px;
}

.header_title{
   margin: 0;
   padding: 0;
   font-family: 'Oswald', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 128px;
   line-height: 190px;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: uppercase;
   color: #fff;
}

.header_title_descr{
   margin: 0;
   margin-top: -12px;
   padding: 0;
   font-family: 'Oswald', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 47px;
   text-align: center;
   text-transform: uppercase;
   color: #fff;
}

/* /Header */

/* Main */

/* Study */

.study_title{
   margin-top: 62px;
   margin-bottom: 60px;
   font-family: 'Oswald', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   line-height: 53px;
   text-transform: uppercase;
   color: #000;
}

.study_grid{
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (3,1fr);
   grid-template-columns: repeat(3,1fr);
   margin-bottom: 110px;
   gap: 30px;
}

.grid_item{
   margin: 0;
   padding: 0;
   min-height: 250px;
   padding-top: 35px;
   background-color: #F7F7F7;
}

.descr_image{
   margin: 0;
   padding: 0;
   font-family: 'Oswald', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   line-height: 53px;
   text-align: center;
   text-transform: uppercase;
   color: #000;
}

/* /Study */

/* Gallery */

.gallery{
   margin-bottom: 230px;
}

.gallery_grid{
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (4,1fr);
   grid-template-columns: repeat(4,1fr);
   font-size: 0;
}

.gallery_grid_item{
   max-height: 407px;
}

.gallery_grid_item img{
  width: 100%;
  height: 100%;
}

/* /Gallery */

/* Contact */
.contact{
   background-color: #404149;
   min-height: 181px;
}

.contact-flex{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}

.contact_title{
   margin-top: 30px;
   padding-left: 25px;
   font-family: 'Oswald', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
   line-height: 71px;
   letter-spacing: 0.02em;
   color: #fff;
   text-transform: uppercase;
   text-align: left;
}

.contact_top,
.contact_bottom{
   padding-left: 20px;
   font-family: 'Oswald', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 36px;
   letter-spacing: 0.02em;
   color: #fff;
}

.contact_bottom{
   margin-top: -5px;
   padding-left: 63px;
   padding-top: 0;
   display: block;
   text-align: left;
}

.contact_top_left{
   margin-left: 15px;
}

.contact_phone{
   padding-left: 5px;
   color: #fff;
}

.button{
   margin-top: 33px;
   margin-right: 8px;
   position: relative;
   padding: 14px 13px 14px 37px;
   background-color: #fff;
   font-family: 'Oswald', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   letter-spacing: 0.05em;
   color: #000;
   text-transform: uppercase;
   border: none;
   transition: 1s;
}

.button:hover{
   cursor: pointer;
   color: #fff;
   background-color: #404149;
   border: 1px Solid #fff;
}

.button_img{
   position: absolute;
   top: 50%;
   left: 12px;
   -webkit-transform: translateY(-50%);
       -ms-transform: translateY(-50%);
           transform: translateY(-50%);
}
/* /Contact */

/* Glass structures */
.descr_glass{
   margin-bottom: 365px;
}
.descr_glass_title{
   margin-top: 275px;
   margin-bottom: 45px;
   font-family: 'Oswald', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   line-height: 53px;
   text-align: center;
   text-transform: uppercase;
   color: #000;
}

.descr_glass_text{
   margin-left: 20px;
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 33px;
   color: #404149;
   text-align: left;
}

.descr_glass_list{
   position: relative;
   margin-top: 25px;
   padding-left: 50px;
   font-family: 'Oswald', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 36px;
   color: #999;
   text-align: left;
}

.descr_glass_listtwo{
   margin-top: 30px; 
}

.descr_glass_list::before{
   content: "";
   width: 15px;
   height: 15px;
   position: absolute;
   top: 50%;
   left: 25px;
   -webkit-transform: translateY(-50%);
       -ms-transform: translateY(-50%);
           transform: translateY(-50%);
   background-image: url('../image/Polygon.png');
   background-repeat: no-repeat;
   background-position: center;
}
/* /Glass structures */

/* Completed work */
.completed_work{
   margin-bottom: 354px;
}

.work_title{
   margin-bottom: 40px;
   font-family: 'Oswald', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   line-height: 53px;
   text-align: center;
   text-transform: uppercase;
   color: #000000;
}

.work_grid{
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
   grid-template-columns: repeat(4,1fr);
   -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
           column-gap: 30px;
   row-gap: 103px
}

.work_grid_item{
   max-height: 550px;
   transition: 1s;
}

.work_grid_item:hover{
   cursor: pointer;
   scale: 1.1;
}

.work_grid_item img{
   width: 100%;
   height: 100%;
}
/* /Completed work */

/* Gray stripe */
.gray_stripe{
   margin-bottom: 103px;
   background-color: #404149;
   width: 100%;
   min-height: 181px;
}
/* Gray stripe */

/* /Main */

/* Footer */
.footer_title{
   margin-bottom: 55px;
   font-family: 'Oswald', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   line-height: 53px;
   text-transform: uppercase;
   color: #000;
}

.footer_social{
   padding-bottom: 155px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
       justify-content: space-around;
}

.footer_social_name{
   margin-top: 15px;
   font-family: 'Oswald', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 36px;
   text-align: center;
   text-transform: uppercase;
   color: #999999;
}

.footer_social_contact{
   margin-top: 15px;
   font-family: 'Oswald', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 36px;
   text-align: center;
   text-transform: uppercase;
   color: #000000;
}

.img_mail{
   margin-top: 5px;
   margin-bottom: 5px;
}

.footer_bottom{
   background-color: #404149;
   width: 100%;
   min-height: 82px;
}

.footer_bottom_text{
   padding-top: 30px;
   padding-left: 25px;
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 33px;
   color: #fff;
   text-align: left;
}
/* /Footer */