body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #18223C;
}

.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
}

/* header */

.header{
    height: auto;
    padding-top: 30px;
}

.header_top{
    position: relative;
    width: 100%;
    text-align: center;
}

.logo{
    padding-bottom: 20px;
    align-items: center;
}

.logo::after{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transform: transition 1s linear;
}

.logo_link{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.logo_link:hover{
    border-radius: 15px;
    background-color: #FF3D00;
    transition: 1s;
    opacity: 0.7;
}

.logo_tel{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    color: #FFFFFF;
}

.logo_tel:hover{
   scale: 1.1;
   color: #FF3D00;
   opacity: 0.9;
   transition: 0.4s;
}

.logo_img_vk{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}

.logo_img_wp{
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translateY(-50%);  
}


.logo_hover:hover{
  scale: 1.2;
  transition: 0.4s;
}

.header_adress{
    text-align: center;
    padding-top: 25px;
}

.header_adress_link{
    color: #fff;
}

.header_adress_link:hover{
    color: #FF3D00;
    transition: 0.6s;
}
/* /header */


/* main  */

.main{
    padding-bottom: 50px;
} 

.descr_info{
    padding-top: 70px;
    padding-bottom: 70px;

    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;

}

.blog_info{
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header_left img{ 
    width: 100%;
    border-radius: 15px;
}


.header_item {
    width: 45%;
    height: auto;
}
  
.header_right{
    padding: 20px;
    text-align: left;
      
}

.header_right_list{
    margin-bottom: 20px;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

.header_right_list::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -50px;
    background-color: #FF3D00;
    width: 25px;
    height: 2px;
}


.header_left_list{
    margin-bottom: 20px;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: right;
}

.header_left_list::after{
    content: "";
    position: absolute;
    top: 50%;
    right: -50px;
    background-color: #FF3D00;
    width: 25px;
    height: 2px;
}

.bc_item{
    background-color: #fff;
    border-radius: 15px;
}

.header_left_list:hover{
  opacity: 0.6;
  cursor: pointer;
  transition: 0.5s;
  transform: translateX(20px);
}


.header_right_list:hover{
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s;
    transform: translateX(-20px);
}

.logo_descr{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logo_descr_item img{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.grid_item {
   height: 300px;
   overflow: hidden;
   border-radius: 20px;
   border: 1px solid #fff;
   transition: scale 0.5s linear;
}

.grid_item:hover{
  border: 2px solid #FF3D00; 
  scale: 1.1;
}

.grid_item img{
    width:  100%;
   height: 100%;
}
/* main  */

/* footer */

.footer{
    padding: 50px 0;
}

.footer_map{
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}

.footer_adress{
    max-width: 500px;
    margin: auto 0;
}

.footer_adress_link{
    display: block;
    padding-bottom: 10px;
    color: #fff;
}

.footer_adress_text{
    display: block;
    padding: 5px 0;
}

.footer_adress_text:hover,
.footer_adress_link:hover {
    cursor: pointer;
    color: #FF3D00;
    transition: 0.5s;
}

.footer_img{
    background-image: url(/img/card.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    transition: 1s;
}

.footer_img:hover{
    scale: 1.5;
    cursor: pointer;
    border: 2px solid #FF3D00; 
}

.footer_contact{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.footer_logo_vk{
    padding-right: 15px;
}

.footer_tel{
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer_tel:hover{
   scale: 1.1;
   color: #FF3D00;
   opacity: 0.9;
   transition: 0.4s;
}
/* /footer */
